<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1> Team Name: <%= @name.to_S %></h1>
   <h4> Coach: <<%= @coach.to_S %>></h4>
   <h4> Point Guard: <<%= @pg.to_S %>></h4>
   <h4> Shooting Guard: <<%= @sg.to_S %>></h4>
   <h4> Small Forward: <<%= @sf.to_S %>></h4>
   <h4> Power Forward: <<%= @pf.to_S %>></h4>
   <h4> Center: <<%= @c.to_S %>></h4>


 </body>
</html>
